@model Domain.Entities.User

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавить Пользователя</title>
    <link href="~/css/add.css" rel="stylesheet" />
</head>
<body>
<header>
    <h1>Добавить нового Пользователя</h1>
    <nav class="admin-menu">
        <a href="/admin/cable">Manage Cable</a>
        <a href="/admin/category">Manage Category</a>
        <a href="/admin/order">Manage Order</a>
        <a href="/admin/orderitem">Manage OrderItems</a>
        <a href="/admin/manageuser">Manage Users</a>
    </nav>
</header>

<main>
    <form action="/Admin/AddUser" method="post">
        <div>
            <label for="Name">Имя</label>
            @Html.TextBoxFor(m => m.FirstName, new { @required = "required" })
        </div>
        <div>
            <label for="SurName">Фамилия:</label>
            @Html.TextAreaFor(m => m.LastName, new { @required = "required" })
        </div>
        <div>
            <label for="Email">Почта:</label>
            @Html.TextBoxFor(m => m.Email, new { @required = "required" })
        </div>
        
        <div>
            <label for="Phone">Номер телефона:</label>
            @Html.TextBoxFor(m => m.PhoneNumber, new { @required = "required" })
        </div>
        <div>
            <label for="Password">Пароль:</label>
            @Html.TextBoxFor(m => m.Password, new { @required = "required" })
        </div>


        <button type="submit" class="btn">Добавить Пользователя</button>
    </form>

</main>

<footer>
    <p>:)</p>

</footer>

</body>
</html>