@model IEnumerable<Domain.Entities.User>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage User</title>
    <link href="~/admin.css" rel="stylesheet" />
</head>
<body>
<header>
    <h1>Manage Pizzas</h1>
    <nav class="admin-menu">
        <a href="/Admin/ManagePizzeria">Manage Pizzerias</a>
        <a href="/Admin/ManagePizzas">Manage Pizzas</a>
        <a href="/Admin/ManagePizzaAvailable">Manage PizzasAvailable</a>
        <a href="/Admin/ManageStaffs">Manage Staffs</a>
        <a href="/Admin/ManageReview">Manage Reviews</a>
        <a href="/Admin/ManageOrders">Manage Orders</a>
        <a href="/Admin/ManageOrderItems">Manage OrderItems</a>
        <a href="/Admin/ManageUser">Manage Users</a>
    </nav>
</header>

<main>
    <button class="btn-add" onclick="window.location.href='/Admin/AddUser'">Добавить нового пользователя</button>
    <div class="pizza-cards-container">
        @if (Model != null && Model.Any())
        {
        foreach (var user in Model)
        {
        <div class="pizza-card">
            <h3>id: @user.UserId</h3>
            <p><strong>Имя</strong> @user.FirstName</p>
            <p><strong>Фамилия</strong> @user.LastName</p>
            <p><strong>Почта</strong> @user.Email</p>
            <p><strong>Роль</strong> @user.Role</p>
            <p><strong>Номер телефона</strong> @user.PhoneNumber</p>
            <div class="pizza-actions">
                <form action="/Admin/DeleteUser/@user.UserId" method="post" style="display:inline;">
                </form>

            </div>
        </div>
        }
        }
        else
        {
        <p>Пользователи не найдены</p>
        }
    </div>
</main>

<footer>
    <p>:)</p>
</footer>

</body>
</html>